<!DOCTYPE html>
<html>
  <head>
    <title>the5fire-WebChat</title>
    <link href="/site_media/chat/css/chat.css" media="all" rel="stylesheet" type="text/css"/>
    
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <div class="head">
          <span>欢迎光临the5fire聊天室，当前时间：<label id="nowdate"></label></span>
        </div>
        <div class="screen">
          <ul class="chat_list">
            
          </ul>
        </div>
        <div class="send_message">
          <div class="message">
            <textarea id="content" rows="4"></textarea>
          </div>
          <div class="opt">
            <label for="nickname">昵称：</label><input name="nickname" id="nickname"/><br/>
            <button id="send">发送消息</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/site_media/chat/js/jquery-1.7.1.js"></script>
  <script src="/site_media/chat/js/underscore-1.3.1.js"></script>
  <script src="/site_media/chat/js/backbone.js"></script>
  <script src="/site_media/chat/js/chat.js"></script>
    
  <script type="text/template" id="item-template">
    <div class="msgtitle"><%=username %> <%=date %></div><p><%=content %></p>
  </script>
</html>